page-login {
    $input-color-placeholder: lighten(#EAECC6, 40%) !default;
    .item-ios {
        position: relative;
        padding-left: 16px;
        border-radius: 0;
        font-size: 1.7rem;
        color: rgb(2, 91, 148);
        background-color: rgba(255, 255, 255, 0.44);
        transition: background-color 200ms linear;
    }
    
    .item-md {
        position: relative;
        padding-right: 0;
        padding-left: 16px;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: rgb(2, 91, 148);
        background-color: rgba(255, 255, 255, 0.44);
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
